.popup__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 48px;
}

.popup_type_delete-card .popup__title {
  margin-bottom: 20px;
}

@media screen and (max-width: 745px) {
  .popup__title {
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 22px;
  }
}
