.header {
  position: relative;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 745px) {
  .header {
    position: relative;
    padding-top: 28px;
    padding-bottom: 31px;
	transition: margin-top 0.3s ease 0s;
  }

  .header::after {
	content: "";
	position: absolute;
	width: calc(100% + 38px);
	height: 1px;
	bottom: 0;
	left: -19px;
	background-color: rgba(84, 84, 84, 0.7);
  }

  .header::before {
	content: "";
	position: absolute;
	width: calc(100% + 38px);
	height: 1px;
	top: 0;
	left: -19px;
	background-color: rgba(84, 84, 84, 0.7);
  }

  .menu-open .header {
	margin-top: 142px;
  }
}
